* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f7fb;
  padding: 40px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.container {
  max-width: 900px;
  margin: auto;
}

.chat-card {
  background: #fff;
  border-left: 6px solid #4f46e5;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.chat-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.from {
  color: #2563eb;
  font-weight: bold;
  font-size: 18px;
}

.to {
  color: #16a34a;
  font-weight: bold;
}
.time {
  margin-top: 10px;
  color: #16a34a;
  font-weight: 400;
  font-size: 15px;
}
.date {
  font-weight: 400;
  font-size: 15px;
}

.message {
  background: #eef2ff;
  padding: 14px;
  border-radius: 8px;
  margin: 15px 0;
  color: #444;
  line-height: 1.6;
}

.label {
  color: #666;
  font-weight: bold;
}

button {
  padding: 10px 25px;
  background-color: #2563eb;
  text-decoration: none;
  outline: none;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.delButton {
  padding: 10px 25px;
  background-color: red;
  text-decoration: none;
  outline: none;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}
button:active {
  transform: scale(95);
}

.actionbtn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
